<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <title>Login</title>
    </head>

    <body>
        {{>navbar}}
        {{#if msg }}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {{/if}}
        <div class="testbox-login">
        <h1>Login</h1>

        <form action="/login" method="POST">
        <hr>
        <label id="icon" for="email"><i class="icon-envelope "></i></label>
        <input type="text" name="email" id="email" placeholder="Email" required/>

        <label id="icon" for="password"><i class="icon-shield"></i></label>
        <input type="password" name="password" id="password" placeholder="Password" required/>

        <button type="submit" class="button">Register</button>
        </form>
        </div>
    </body>
</html>