<div class="topnav">
    <a {{#if post.index }} class="active" {{else}} class="" {{/if}} href="/">Home</a>
    <a {{#if post.login }} class="active" {{else}} class="" {{/if}} href="/login">Login</a>
    <a {{#if post.register }} class="active" {{else}} class="" {{/if}} href="/register">Register</a>
    <a {{#if post.secure }} class="active" {{else}} class="" {{/if}} href="/secure">Secure</a>
    <a href="logout">Logout</a>
    <a href="logout_all">Logout from All</a>
</div>