<div class="topnav">
    {{!-- <a {{#if post.page "home"}} class="active" {{else}} class="" {{/if}} href="/">Home</a> --}}
    <a href="/">Home</a>
    <a href="login">Login</a>
    <a href="register">Register</a>
</div>